@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*header*/

body {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: white;
    color: green;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-bottom-style: solid;
    position: fixed;
}

header a {
    color: green;
    text-decoration: none;
    margin: 0 2rem;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
    padding: 0.4rem;
}

header a:hover {
    background-color: white;
    color: black;
}

.mobile {
    position: fixed;
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #30591f;
    right: 0;
    margin-top: -110vh;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    z-index: 999;
}

.mobile a {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.hambug {
    display: none;
}

@media (max-width:768px) {
    header a {
        margin: 0 0.5rem;
    }
}

@media (max-width:426px) {
    header h1 {
        font-size: 1.7rem;
    }
    .dev {
        display: none;
    }
    .mobile {
        height: 101%;
    }
    .hambug {
        display: block;
    }
    .hambug div {
        width: 25px;
        margin: 0.3rem 0;
        height: 2px;
        color: green;
        background-color: green;
    }
    .mobile li {
        margin: 1rem 0;
        font-size: 1.2rem;
        color: white;
        list-style: none;
        text-decoration: none;
    }
}


/*main*/

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('./img/trees-g54d4f2ca3_1920.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-blend-mode: normal;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadp-t {
    letter-spacing: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
}

.hora-t {
    letter-spacing: 5px;
    font-size: 40px;
    margin-top: 3rem;
}

.dia-t {
    letter-spacing: 5px;
    font-size: 60px;
    margin-top: 3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.serie-t {
    letter-spacing: 5px;
    font-size: 30px;
    font-family: 'Dancing Script';
    margin-top: 3rem;
}

.ves-t {
    letter-spacing: 5px;
    font-size: 30px;
    font-family: 'Dancing Script';
    margin-top: 3rem;
}

@media (max-width:1059px) {
    .main {
        background-position: auto;
        background-size: cover;
    }
}

@media (max-width:426px) {
    .cadp-t {
        letter-spacing: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }
    .hora-t {
        letter-spacing: 5px;
        font-size: 25px;
    }
    .dia-t {
        letter-spacing: 5px;
        font-size: 30px;
    }
    .serie-t {
        letter-spacing: 5px;
        font-size: 20px;
        font-family: 'Dancing Script';
    }
    .ves-t {
        letter-spacing: 5px;
        font-size: 20px;
        font-family: 'Dancing Script';
    }
}

@media (max-width:320px) {
    .cadp-t {
        letter-spacing: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }
    .hora-t {
        letter-spacing: 5px;
        font-size: 20px;
    }
    .dia-t {
        letter-spacing: 5px;
        font-size: 25px;
    }
    .serie-t {
        letter-spacing: 5px;
        font-size: 20px;
        font-family: 'Dancing Script';
    }
    .ves-t {
        letter-spacing: 5px;
        font-size: 20px;
        font-family: 'Dancing Script';
    }
}


/*historia*/

.snopse {
    text-align: center;
    color: white;
    padding-top: 8rem;
    margin: 0;
    font-size: 40px;
}

.historia {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('./img/amazon-ga6bb0d216_1920\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-blend-mode: normal;
    color: green;
}

.grd {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.spn {
    max-width: 50rem;
    color: white;
    font-family: sans-serif;
}

.spn-titulo {
    font-size: 30px;
    text-align: center;
}

.spn-p {
    font-size: 20px;
}

@media (max-width:1311px) {
    .historia {
        background-size: cover;
        height: 100%;
    }
}

@media (max-width:768px) {
    .historia {
        height: 100%;
    }
    .img-img {
        width: 500px;
    }
    .spn {
        max-width: 80%;
        color: white;
        font-family: sans-serif;
    }
    .spn-p {
        font-size: 17px;
    }
}

@media (max-width:426px) {
    .historia {
        height: 100%;
    }
    #img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-img {
        width: 95%;
    }
    .spn {
        max-width: 90%;
        color: white;
        font-family: sans-serif;
    }
    .spn-p {
        font-size: 15px;
    }
}


/*elenco*/

.elenco {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('./img/forest-g2d6fe1a2f_1920.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-blend-mode: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dad {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-style: solid;
    border-color: white;
    width: 50%;
    padding: 1rem;
}

.elenco-x {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}

.card-custom {
    background-color: transparent!important;
    color: white;
    display: flex!important;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

@media (max-width:1467px) {
    .elenco {
        background-size: cover;
    }
    .historia {
        background-size: cover;
        height: 100%;
    }
}

@media (max-width:768px) {
    .img-fix {
        width: 100%!important;
    }
    .img-fix img {
        min-width: 100%!important;
    }
}